<div class="mt-5">
    <h3 class="text-center">Devre Ekle</h3>
</div>

<div class="custom-container">
   
    <form>
        <div>
            <div class="col-auto form-group">
                &ensp;          
                <label>Adı:</label>
                <input type="text" class="form-control">
                &ensp;
                <label>Devre No:</label>
                <input type="text" class="form-control">
                &ensp;
                <label for="bolgeSelect">Bölge:</label>
                <select id="bolgeSelect" class="form-select custom-select" aria-label="Default select example">
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
                &ensp;
                <label for="bulutAdiSelect">Bulut Adı:</label>
                <select id="bulutAdiSelect" class="form-select custom-select" aria-label="Default select example">
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
            </div>
            <div class="custom-container w-50 mt-3">
                <label>MAC Adresi:</label>
                <input type="text" class="form-control">
                &ensp;
                <label>Seri No:</label>
                <input type="text" class="form-control">
                &ensp;
            </div>

            <div class="custom-container mt-3">
                <label>Alım Tarihi:</label>
                <input type="date" class="form-control ">
                &ensp;
                <label>Garanti Süresi:</label>
                <input type="text" class="form-control">

            </div>
            <div class="custom-container mt-3">
                <label>Adet:</label>
                <input type="text" class="form-control w-25">
                &ensp;
                <label class="form-check-label" for="flexSwitchCheckDefault">Mahsup:</label>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                </div>
                &ensp;
            </div>
            <div class="custom-container mt-3">
                <label>Açıklama:</label>
                <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>

            <div class="custom-container mt-3">
                <a href="#" class="red-class">Vazgeç</a>
                <button type="button" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </form>
</div>